langchain
langchain-core
langchain-community
faiss-cpu
pymongo
python-dotenv
fastapi
uvicorn[standard]
pydantic
python-multipart
langchain-openai
PyJWT
passlib[bcrypt]
python-jose[cryptography]
serial
